@use "../../styles/variables";
@use "../../styles/breakpoint";

.container {
    height: 100vh;
    line-height: 150%;

    .img {
        width: 100%;
        height: 28.4rem;
        object-fit: cover;
    }

    .body {
        padding: 4rem 2.4rem;

        &__subtitle {
            padding: 2.4rem 0;

        }

        &__list {
            gap: 1rem;
            display: flex;
            list-style: none;
            padding-bottom: 4rem;
            flex-direction: column;

            li {
                gap: 1.6rem;
                display: flex;
                align-items: flex-start;
            }
        }

        .input__container {
            margin-bottom: 2.4rem;

            &__label {
                display: flex;
                line-height: 1.5;
                align-items: center;
                justify-content: space-between;

                >span {
                    font-size: 1.2rem;
                    color: variables.$tomato;
                    font-family: "Roboto-Bold";
                }

                label {
                    font-size: 1.2rem;
                    font-family: "Roboto-Bold";
                    color: variables.$dark-slate-gray;
                }
            }

            &__input {
                width: 100%;
                outline: none;
                font-size: 1.6rem;
                line-height: 1.525;
                margin-top: 0.8rem;
                border-radius: 0.8rem;
                padding: 1.5rem 2.4rem;
                border: 1px solid variables.$gray;

                &::placeholder {
                    color: variables.$gray;
                }

                &--invalid {
                    color: variables.$tomato;
                    border: 1px solid variables.$tomato;
                    background: rgba(255, 97, 85, 0.15);
                }
            }
        }
    }
}

@include breakpoint.mq(tablet) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        background: variables.$dark-slate-gray;

        .img {
            width: 40rem;
            height: 100%;
            border-radius: 1rem;
            object-position: -235px center;
        }

        .wrapper {
            width: 100%;
            gap: 6.4rem;
            display: flex;
            height: 64.1rem;
            max-width: 92.8rem;
            border-radius: 3.6rem;
            flex-direction: row-reverse;
            background: variables.$white;
            padding: 2.4rem 2.4rem 2.4rem 6.4rem;

            .body {
                padding-left: 0;
                padding-right: 0;
                align-self: center;
            }
        }
    }
}